@{
    ViewData["Title"] = "Статьи на тему " + ViewData["genre"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GameSite.Models.Game>

<div class="container-head">
    @{
        if (ViewData["genre"] != null)
        {
            <p class="main-text-color">Статьи на тему @ViewData["genre"]</p>
        }
        else
        {
            <p class="main-text-color">Статьи на тему @ViewBag.game</p>
        }
    }
</div>
<div class="container">
    <div class="container-body">
        @foreach (var Game in Model)
        {
        <div class="row">
            <div class="col-md-4">
                <span class="main-text-color" style="text-align:left">@Game.Name_game</span>
                <br />
                <span class="">Жанр: @Game.Tag</span>
                <br />
                <span>Год выпуска: @Game.Year_of_release.ToShortDateString()</span>
                <br />
            </div>
            <div class="col-md-8" style="text-align:right;padding-right:15px">
                <span style="padding-right:15px">Рейтинг: @Game.Game_Rathing</span>
            </div>
            <br />
            <br />
            <div style="text-align:right; padding-right:30px">@Html.RouteLink("Читать больше", new { controller = "Games", action = "Content", text = Game.Name_game })</div> 
        </div>
            <hr />
        }

    </div>
</div>

